body{
    background: rgb(41, 150, 117) ;
}
.container{
    margin: 70px auto;
    padding: 10px 60px;
}
.button{
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin:20px;
    padding: 25px;
    text-align: center;
    position: relative;
}
.button,.button::after{
    transition:all 0.5s ;
}
.button::before , .button::after{
    content: '';
    background: #fff;
    z-index: -1;
    position: absolute;
}
.button:hover{
    color:rgb(41, 150, 117) ;
}
.button-1::after{
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
}
.button-1:hover::after{
    height: 100%;
}
.button-2::after{
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}
.button-2:hover::after{
    width: 100%;
}
.button-3::after{
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}
.button-3:hover::after{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.button-4::before{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.button-4::after{
    background-color:rgb(41, 150, 117);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.button-4:hover::after{
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}
.button-5::after{
    height: 100%;
    top: 0;
    left:-5% ;
    width: 0;
    transform: skew(50deg);
    transform-origin: bottom left;
}
.button-5:hover::after{
    height: 100%;
    width: 135%;
}
.button-5{
    overflow: hidden;
}
